---
import Layout from '../layouts/Layout.astro';
import Avatar from '../components/Avatar.astro';
import Link from '../components/Link.astro';

import avatar from '../assets/avatar-dum.jpg'
import reverseAvatar from '../assets/dummy-avatar.jpg'
---

<Layout title="Linktree">
	<main>
		<div class="box-linktree">
			<Avatar flipAvatar={avatar.src} image={reverseAvatar.src}/>
			<div class="box-links">
			  <ul>
				<Link
				  href='https://adrian1lara.vercel.app/'
				  icon='Linkedin'
				  text='John Doe'
				 />

				 <Link
				  href='https://adrian1lara.vercel.app/'
				  icon='Github'
				  text='John Doe'
				 />
	  
				<Link 
				  href='https://adrian1lara.vercel.app/'
				  icon='Youtube'
				  text='John Doe'
				/>

				<Link 
				  href='https://adrian1lara.vercel.app/'
				  icon='Twitch'
				  text='John Doe'
				/>
			  </ul>
			</div>
		</div>
	</main>
</Layout>

<style>
	  body { 
    color: #fff;
    height: 100dvh;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  .box-linktree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
  }

  ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px 5px;
  }

  .box-letra {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .fonte {
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    font-size: 35px;
  }
</style>
